


#items-each {    
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
}

#item-box {
    border-color: white;
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

#item-box-huelle {
    width: 120%;
    border-width: 30px;
    
}