<div class="jumbotron">
  <h1>ItemManager</h1>
  <p>ItemManager ist eine WebApp mit welcher man nach dem gewünschten Minecraft Itemnamen suchen kann um z.B. die ID oder dem Typ herauszufinden</p>
  <p>{{#link-to 'items'}}<a class="btn btn-primary btn-lg" href="#" role="button">Alles klar!</a>{{/link-to}}</p>
</div>