<div class="row">
<div class="col-sm-12">
  <div id="search" class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        
        <div id="search-inhalt" class="row col-sm-12">
            <div class="col-sm-1">
                <i class="fa fa-search fa-2x"></i>
            </div>
            <div class="col-sm-11">
                <span>
                    {{input type="text" value=suche class="form-control" playerholde="suche"}}
                    
                </span>
            </div>
        </div>
            
            
      </div>
    </div>
  </div>
</div>
</div>

{{item-list
    model=model.model
    suche=suche
    store=store}}

